
@media (max-width: 200px){
    *{
        font-size: 80%;
    }
}
   
 @media (max-width:350px){ 
    #fondo, #card_img, li>ul, .img-item{
        display: none;
    } 
    
    .col-12 .col-8{
        padding: 0;
        margin-left: 0;
        border:none;
    }
}

@media (max-width:510px){
    #notas{
        height: auto;
    }

    .table{
        font-size: 40%;
    }
}


/*@media (min-width:500px) and (orientation: portrait) { 
    #t-fq::before, #t-bio::before, #t-fis::before{
        background-color: rgb(240, 245, 247);
        border: 2px solid rgb(167, 208, 209);
        content:"Rotar el dispositivo c:";
    }

    .table{
        display:none;
    }
}*/
